extends layout
include mixins

block content
    h1= title
    p #{data}
    //- +locationCard("Helsinki", "60.1697530°, 24.9490830°", data.current, data.hi, data.low)
    //- +locationCard("Tokyo", "35.6584421°, 139.7328635°")
    //- +locationCard("New York", "40.7406905°, -73.9938438°")
    //- +locationCard("Amsterdam", "52.3650691°, 4.9040238°")
    //- +locationCard("Dubai", "25.092535°, 55.1562243°")

    // TODO
    //
    // each card should get relevant data from the database
    // location pages need working
    // limit requests
    // alerts
    // remove unused stuff
    // comment
    // ship