extends layout
include mixins
        
block viewSpecificScripts
  script(src="/javascripts/graph.js")

block content
  h1= "Temperature in " + title
  #chart
  .contribute   
    form.form-inline(method='POST' action='/api/v1/weather')
      .form-group.mb-2
        input.form-control-plaintext(type='text', readonly, value='Submit a reading:')
      .form-group.mx-sm-3.mb-2
        input.form-control(type='number', min="-90", max="60", placeholder='Temperature' name='temp' required pattern='[0-9][0-9]')
        button.btn.btn-primary.mb-2(type='submit', name="location", value=title) Submit
        