body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: white;
}

.card {
  padding: 10px;
  height: 400px;
  margin: 10px;
}


.temperature {
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.card-block {
  height: 100%;
}

.row {
  height: 100%;
}

#chart {
  margin-top: 50px;
  margin-bottom: 50px;
}